@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #111318;
    width: 100dvw;
    object-fit: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Montserrat', sans-serif;
    background: #111318;
    height: 100dvh;
    padding: 0;
    margin: 0;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}