@media (max-width: 360px) {
    .createPostCard .createPostForm {
        width: 95%;
    }

    .createPostCard .createPostForm .createPostInputs input,
    .createPostCard .createPostForm .createPostInputs textarea {
        padding: 10px 20px;
    }

    .createPostCard .createPostForm .createPostInputs input {
        font-size: 1.3rem;
    }

    .createPostCard h1 {
        font-size: 1.3rem;
    }

    .createPostForm button {
        font-size: 1rem;
        padding: 10px 3px;
    }

    .createPostCard .closeButton {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }

    .createPostCard .closeButton svg {
        width: 30px;
        height: 30px;
    }
}
