textarea {
    resize: none;
}

.createPostMain {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
    object-fit: cover;
    min-height: 100dvh;
}

.createPostCard {
    position: relative;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.createPostCard .closeButton {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.createPostCard .closeButton svg {
    width: 50px;
    height: 50px;
}

.createPostCard .createPostForm {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.createPostCard .createPostForm .createPostInputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.createPostCard .createPostForm .createPostInputs input{
    font-size: 3rem;
}
.createPostCard .createPostForm .createPostInputs textarea{
    font-size: 1rem;
    resize: none;
    min-height: 300px;
}

.createPostCard h1 {
    font-size: 3rem;
}

@media (max-width: 900px) {
    .createPostMainmain {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .createPostMain {
        padding-left: 0;
    }
}