.editPage {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
    object-fit: cover;
    height: 100dvh;
}

.editWindow {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    gap: 75px;         
}

.editWindow .editForm {
    display: flex;
    flex-direction: column; 
    gap: 75px;    
}

.editWindow .inputs {
    display: flex;
    gap: 50px;
    align-items: center;
}

.editWindow .closeButton {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.editWindow .addCard {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 30px;
    border-radius: 35px;
}

.editWindow .addCard:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.editWindow .addCard  img{
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: cover;
}

.editWindow .addCard h2 {
    font-size: 2rem;
}

.editWindow .closeButton svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .editPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .editPage {
        padding-left: 0;
    }
}