.editPage {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
    object-fit: cover;
}

.editWindow {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editWindow .closeButton {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.editWindow .closeButton svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .editPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .editPage {
        padding-left: 0;
    }
}