.FollowingsPage {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
    object-fit: cover;
}

.FollowingsWindow {
    width: 100%;
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .FollowingsPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .FollowingsPage {
        padding-left: 0;
    }
}