@media (max-width: 900px) {
    .notFoundPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .notFoundPage {
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .notFoundPage .notFoundText h1 {
        font-size: 7rem;
    }

    .notFoundPage .notFoundText p {
        font-size: 1.9rem;
    }
    .notFoundPage .toMainButton {
        font-size: 1.3rem;
    }
}

@media (max-width: 350px) {
    .notFoundPage .notFoundText h1 {
        font-size: 6rem;
    }

    .notFoundPage .notFoundText p {
        font-size: 1.5rem;
    }
    .notFoundPage .toMainButton {
        font-size: 1rem;
    }
}
