.notFoundPage {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    object-fit: cover;
	overflow-y: hidden;
	height: 100dvh;
    display: flex;
    box-sizing: border-box;
}

.notFoundWindow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 100px;
	overflow-y: hidden;
	flex: 1;
}

.notFoundPage .notFoundText {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
}

.notFoundPage .notFoundText h1 {
    font-size: 20rem;
    color: #6E5BFF;
    text-shadow: 0 0 200px rgba(110, 91, 255, 0.45);
}

.notFoundPage .notFoundText p {
    font-size: 3rem;
    color: white;
    font-weight: 500;
}

.notFoundPage .toMainButton {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    background: #6E5BFF;
    border: none;
    padding: 20px 30px;
    border-radius: 55px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;
 
    &:hover {
        box-shadow: 0 0 100px rgba(110, 91, 255, 0.25);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: none;
    }
}

@media (max-width: 1500px) {
    .notFoundPage .notFoundText h1 {
        font-size: 10rem;
    }

    .notFoundPage .notFoundText p {
        font-size: 2rem;
    }
    .notFoundPage .toMainButton {
        font-size: 1.8rem;
    }
}

@media (max-width: 900px) {
    .notFoundPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .notFoundPage {
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .notFoundPage .notFoundText h1 {
        font-size: 7rem;
    }

    .notFoundPage .notFoundText p {
        font-size: 1.9rem;
    }
    .notFoundPage .toMainButton {
        font-size: 1.3rem;
    }
}

@media (max-width: 350px) {
    .notFoundPage .notFoundText h1 {
        font-size: 6rem;
    }

    .notFoundPage .notFoundText p {
        font-size: 1.5rem;
    }
    .notFoundPage .toMainButton {
        font-size: 1rem;
    }
}