.register-main-window {
    background: #191919;
    width: 100dvw;
    height: 100dvh;
}

.register-window {
    width: 100dvw;
    height: 100dvh;
    background: #6E5BFF;
    background: linear-gradient(180deg, rgba(110, 91, 255, 0.35) 0%, rgba(11, 12, 16, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register2 {
    display: flex;
    gap: 66px;
    padding: 100px 85px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 55px;
    color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    width: 1000px;

}

.register-main-window .addForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-main-window .addForm .addInputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.register-main-window .addForm input, .register-main-window .addForm textarea {
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    border-radius: 35px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    width: 100%;
}

.register-main-window.addForm input:hover, .addForm textarea:hover {
    background: rgba(255, 255, 255, 0.15);
}

.register-main-window .addForm input:focus, .addForm textarea:focus {
    background: rgba(255, 255, 255, 0.2);
}

.register-main-window .addForm button {
    background: rgb(110, 91, 255);
    outline: none;
    border: 0;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    font-size: 2rem;
}

.register-main-window .addForm button:hover {
    background: rgba(110, 91, 255, 0.75);
}

.register-main-window .addCard {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 45px;
    gap: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}

.register-main-window .addCard:hover {
    background: rgba(255, 255, 255, 0.1);
}

.register-main-window .addCard .addIcon{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 15px;
}

.register-main-window .addCard .addIcon img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover   ;
    border-radius: 10px;
}



@media (max-width: 1080px) {
    .register2 {
        padding: 20px;
        width: 778px;
    }
}

@media (max-width: 900px) {
    .register2 {
        width: 678px;
    }

    .register-main-window.addInputs input, .register-main-window .addInputs textarea, .addForm button {
        font-size: 1.5rem; 
    }

    .register-main-window .addCard {
        font-size: 1.3rem;
    }
}

@media (max-width: 750px) {
    .register2 {
        width: 578px;
        gap: 22px;
    }

    .register-main-window .addCard {
        padding: 5px;
        gap: 5px;
        border-radius: 35px;
    }

    .register-main-window .addCard .addIcon{
        padding: 5px;
        border-radius: 30px;
    }

    .register-main-window .addCard .addIcon img {
        border-radius: 25px;
    }

    .register-main-window .addForm button {
        padding: 15px;
    }

    .register-main-window .addForm .addInputs {
        gap: 10px;
    }

    .register-main-window .addForm input, .addForm textarea {
        font-size: 1.2rem;
        padding: 15px;
        border-radius: 25px;
    }
}

@media (max-width: 600px) {
    .register2 {
        flex-direction: column;
        width: 95%;
    }

    .register2 .addForm {
        gap: 25px;
    }

    .register2 .addCard {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .register2 .addCard {
        width: 100%;
    }
}