@media (max-width: 600px) {
    .register2 {
        flex-direction: column;
        width: 95%;
    }

    .register2 .addForm {
        gap: 25px;
    }

    .register2 .addCard {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .register2 .addCard {
        width: 100%;
    }
}
