@media (max-width: 900px) {
    .register {
        width: 500px;
        gap: 30px;
    }

    .register-form input {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    .register-form {
        gap: 30px;
    }

    .register-form button {
        padding: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .register {
        width: 400px;
    }

    .register-header h1 {
        font-size: 1.5rem;
    }

    .register-form {
        gap: 20px;
    }

    .register-form input {
        font-size: 1rem;
    }

    .register-form button {
        font-size: 1rem;
    }
}

@media (max-width: 430px) {
    .register {
        width: 300px;
        padding: 10px;
        border-radius: 35px;
    }

    .register-header {
        justify-content: space-between;
        padding: 10px;
    }

    .register-header h1 {
        font-size: 1.3rem;
    }

    .register-form {
        gap: 15px;
    }
}
