@media (max-width: 750px) {
    .register2 {
        width: 578px;
        gap: 22px;
    }

    .register-main-window .addCard {
        padding: 5px;
        gap: 5px;
        border-radius: 35px;
    }

    .register-main-window .addCard .addIcon {
        padding: 5px;
        border-radius: 30px;
    }

    .register-main-window .addCard .addIcon img {
        border-radius: 25px;
    }

    .register-main-window .addForm button {
        padding: 15px;
    }

    .register-main-window .addForm .addInputs {
        gap: 10px;
    }

    .register-main-window .addForm input,
    .addForm textarea {
        font-size: 1.2rem;
        padding: 15px;
        border-radius: 25px;
    }
}

@media (max-width: 600px) {
    .register2 {
        flex-direction: column;
        width: 95%;
    }

    .register2 .addForm {
        gap: 25px;
    }

    .register2 .addCard {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .register2 .addCard {
        width: 100%;
    }
}
