@media (max-width: 900px) {
    .search {
        padding-top: 50px;
        padding-left: 200px;
    }

    .searchWindow .buttons .button {
        padding: 10px 15px;
    }

    .searchWindow {
        padding: 25px 0;
    }

    .searchWindow .users {
        gap: 25px;
    }

    .searchWindow .users .userCard {
        width: 500px;
    }

    .searchWindow .users .userCard img {
        width: 48px;
        height: 48px;
    }

    .searchWindow .users .userCard .text h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 700px) {
    .searchWindow .users .userCard {
        width: 400px;
    }

    .searchWindow .users .userCard img {
        width: 36px;
        height: 36px;
    }

    .searchWindow .users .userCard .followButton,
    .searchWindow .users .userCard .unfollowButton {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .searchWindow .users .userCard .text h1 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .search {
        padding-left: 0;
    }

    .searchWindow .users .userCard {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .searchWindow .users .userCard {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .searchWindow .users .userCard .text h1 {
        font-size: 0.9rem;
        font-weight: 800;
    }

    .searchWindow .users .userCard {
        gap: 10px;
    }
}

@media (max-width: 400px) {
}
