.userPage {
    width: 100dvw;
    padding-top: 65px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
    object-fit: cover;
}

.userWindow .userCard {
	display: flex;
	flex-direction: column;
	gap: 100px;
	padding: 150px 0 100px 0;
	width: 100%;
	text-align: center;
}

.userWindow .userCard .userInfo {
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
}

.userWindow .userCard .userInfo .userLine {
	display: flex;
	justify-content: space-between;
	width: 50%;
	align-items: center;
}

.userWindow .userCard .userInfo .userLine .userNameAvatar {
	display: flex;
	align-items: center;
	gap: 25px;
}

.userWindow .userCard .userInfo .userLine .userNameAvatar img{
	aspect-ratio: 1 / 1;
	height: 5rem;
	object-fit: cover;
	background: white;
	border-radius: 50%;
}

.userWindow .userCard .userInfo .userLine .userNameAvatar h1{
	color: white;
	font-size: 5rem;
}

.userWindow .userCard .userInfo .userLine .followButton{
	background: #6E5BFF;
	padding: 15px 35px;
	border-radius: 35px;
	font-size: 2rem;
	color: white;
	outline: 0;
	border: 0;
	cursor: pointer;
}

.userWindow .userCard .userInfo .userLine .followButton:hover{
	background: #8a7ef5;
}

.userWindow .userCard .userInfo p {
	color: white;
	font-size: 2rem;
}

.userWindow .userCard .userStats {
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
}

.userWindow .userCard .userStats .userStatCard{
	display: flex;
	flex-direction: column;
	gap: 10px;
	color:white;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px 30px;
	border-radius: 50px;
}

.userWindow .userCard .userStats h1{
	font-size: 2.5rem;
}

.userWindow .userCard .userStats h2{
	font-size: 1.5rem;
}

@media (max-width: 900px) {
    .userPage {
        padding-top: 50px;
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .userPage {
        padding-left: 0;
    }
}