@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.loginNavbar {
    position: fixed;
    z-index: 90;
    padding: 110px 20px 20px 20px;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    gap: 28px;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.loginNavbar.open {
    transform: translateX(0);
}

.loginNavbar .createButton {
    border: none;
    background: #6E5BFF;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 25px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;


    &:hover {
        background: #8A7EF5;
        transform: translateY(-5px);
        box-shadow: 0 0 100px rgba(110, 91, 255, 0.25);
    }
}

svg {
    fill: white;
    width: 24px;
    height: 24px
}

.loginNavbar h1 {
    font-size: 1.6rem;
    color: #fff;
}

.loginNavbar .contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-weight: 300;
    border-radius: 25px;
    height: fit-content;
    padding: 0;
    cursor: pointer;
    width: 100%;
}

.loginNavbar .contacts .contactButton {
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.3rem;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
        transform: translateY(-5px);
    }

}

.loginNavbar .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginNavbar .buttons button {
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.3rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
        transform: translateY(-5px);
    }
}




@media (max-width: 900px) {
    .loginNavbar {
        width: 150px;
    }

    .loginNavbar .createButton {
        font-size: 1rem;
        gap: 6px;
    }

    .loginNavbar .contacts .contactButton {
        font-size: 1rem;
    }

    .loginNavbar .buttons button {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .loginNavbar {
        padding-top: 90px;
    }
}