@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

.mainNavbar .createButton {
    border: none;
    background: #6e5bff;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 25px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background: #8a7ef5;
        transform: translateY(-5px);
        box-shadow: 0 0 100px rgba(110, 91, 255, 0.25);
    }
}

svg {
    fill: white;
    width: 24px;
    height: 24px;
}

.mainNavbar h1 {
    font-size: 1.6rem;
    color: #fff;
}

.mainNavbar .contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-weight: 300;
    border-radius: 25px;
    height: fit-content;
    padding: 0;
    cursor: pointer;
    width: 100%;
}

.mainNavbar .contacts .contactButton {
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.3rem;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
        transform: translateY(-5px);
    }
}

@media (max-width: 900px) {
    .mainNavbar {
        width: 200px;
        padding: 10px;
        padding-top: 110px;
    }

    .mainNavbar .createButton {
        font-size: 1rem;
    }

    .mainNavbar .contacts .contactButton {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .mainNavbar {
        padding-top: 90px;
        width: 150px;
    }
}
