@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

@media (max-width: 900px) {
    .mainNavbar {
        width: 200px;
        padding: 10px;
        padding-top: 110px;
    }

    .mainNavbar .createButton {
        font-size: 1rem;
    }

    .mainNavbar .contacts .contactButton {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .mainNavbar {
        padding-top: 90px;
        width: 150px;
    }
}
