@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.login-header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    background: #0B0C10;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 30px;
    z-index: 99;
}

.login-header h1{
    font-size: 2rem;
}

.login-header .title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-header .title .burger {
    display: none;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    cursor: pointer;
}

.login-header .title .burger .line {
    background: white;
    height: 5px;
    width: 30px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.login-header .title .burger .line.middle.open {
    display: none;
}

.login-header .title .burger .line.bottom.open {
    transform: translateY(-5px) rotate(45deg);

}

.login-header .title .burger .line.top.open {
    transform: translateY(5px) rotate(135deg) ;
}

.login-header .search-bar {
    display: flex;
    height: fit-content;
    gap: 4px;
    background: rgba(255, 255, 255, 0.2);
    padding: 1px 5px;
    border-radius: 25px;
    width: 300px;
}

.login-header .search-bar input {
    height: fit-content;
    background: none;
    color: white;
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
}

.login-header .search-icon {
    fill: white;
}


.login-header .search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.login-header .search-input:focus {
    outline: none;
    box-shadow: none;
}

.login-header .search-input:-webkit-autofill,
.login-header .search-input:-webkit-autofill:hover,
.login-header .search-input:-webkit-autofill:focus,
.login-header .search-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #0B0C10 inset !important;
    -webkit-text-fill-color: white !important;
}

.login-header a {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.login-header a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.login-header .mobileIcon {
    display: flex;
    gap: 14px;
    align-items: center;
}

.login-header .mobileIcon svg {
    cursor: pointer;
    display: none;
}

.login-header .closeIcon {
    display: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .login-header {
        padding: 0 20px;
    }

    .login-header h1 {
        font-size: 1.7rem;
    }

    .login-header .search-input {
        width: 250px;
        font-size: 0.9rem;
    }

    .login-header header .loginButton {
        padding: 5px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .login-header {
        padding: 0 15px;
        gap: 10px;
    }

    .login-header  h1 {
        font-size: 1.4rem;
    }

    .login-header  .search-bar {
        padding: 1px 8px;
        gap: 6px;
        border-radius: 20px;
        display: none;
    }

    .login-header .search-input {
        width: 160px;
        font-size: 0.85rem;
    }

    .login-header  .mobileIcon svg {
        display: block;
    }

    .login-header .loginButton {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .login-header .title .burger {
        display: flex;
    }
}

