@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

.main-header .title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-header .title .burger {
    display: none;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    cursor: pointer;
}

.main-header .title .burger .line {
    background: white;
    height: 5px;
    width: 30px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.main-header .title .burger .line.middle.open {
    display: none;
}

.main-header .title .burger .line.bottom.open {
    transform: translateY(-5px) rotate(45deg);
}

.main-header .title .burger .line.top.open {
    transform: translateY(5px) rotate(135deg);
}

.main-header .search-bar {
    display: flex;
    height: fit-content;
    gap: 4px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 5px;
    border-radius: 25px;
    width: 500px;
    align-items: center;
}

.main-header .search-bar .search-input {
    height: fit-content;
    color: white;
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

.main-header .search-icon {
    fill: white;
}

.main-header .search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.main-header .search-input:focus {
    outline: none;
    box-shadow: none;
}

.main-header .search-input:-webkit-autofill,
.main-header .search-input:-webkit-autofill:hover,
.main-header .search-input:-webkit-autofill:focus,
.main-header .search-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #0b0c10 inset !important;
    -webkit-text-fill-color: white !important;
}

.main-header .mobileIcon {
    display: flex;
    gap: 14px;
    align-items: center;
}

.main-header .mobileIcon svg {
    cursor: pointer;
    display: none;
}

.main-header .closeIcon {
    display: none;
    cursor: pointer;
}

.main-header .loginButton {
    background: #6e5bff;
    border: none;
    padding: 5px 35px;
    color: white;
    font-size: 1rem;
    border-radius: 35px;
    cursor: pointer;

    &:hover {
        background: lab(58.9% 33.57 -58.4);
    }
}

@media (max-width: 900px) {
    .main-header {
        padding: 10px 20px;
    }

    .main-header h1 {
        font-size: 1.7rem;
    }

    .main-header .search-bar {
        width: 300px;
    }

    .main-header .search-input {
        width: 250px;
        font-size: 0.9rem;
    }

    .main-header .loginButton {
        padding: 5px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .main-header {
        padding: 10px 15px;
        gap: 10px;
    }

    .main-header h1 {
        font-size: 1.4rem;
    }

    .main-header .search-bar {
        display: none;
    }

    .main-header .mobileIcon svg {
        display: block;
    }

    .main-header .search-input {
        width: 160px;
        font-size: 0.85rem;
    }

    .main-header .loginButton {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .main-header .title .burger {
        display: flex;
    }
}
