@media (max-width: 900px) {
    .main-header {
        padding: 10px 20px;
    }

    .main-header h1 {
        font-size: 1.7rem;
    }

    .main-header .search-bar {
        width: 300px;
    }

    .main-header .search-input {
        width: 250px;
        font-size: 0.9rem;
    }

    .main-header .loginButton {
        padding: 5px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .main-header {
        padding: 10px 15px;
        gap: 10px;
    }

    .main-header h1 {
        font-size: 1.4rem;
    }

    .main-header .search-bar {
        display: none;
    }

    .main-header .mobileIcon svg {
        display: block;
    }

    .main-header .search-input {
        width: 160px;
        font-size: 0.85rem;
    }

    .main-header .loginButton {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .main-header .title .burger {
        display: flex;
    }
}
