@media (max-width: 1050px) {
  .post {
    width: 550px;
  }

  .post .post__body {
    gap: 40px;
  }

  .post .post__body p {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .post {
    width: 450px;
  }

  .post .post__body h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 750px) {
  .post {
    width: 350px;
  }

  .post .post__body h1 {
    font-size: 1.5rem;
  }

  .post .post__body p {
    font-size: 1.2rem;
  }

  .post .post__body {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .post {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .post {
    width: 90%;
  }

  .post .post__body p {
    font-size: 1.1rem;
  }
}
